body {
    background-color: black;
}

#game {  
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}


canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

/*
Support is available for crisp-edges and pixelated values for the image-rendering property. The prefixed values -webkit-crisp-edges and -webkit-optimize-contrast map to the crisp-edges value.
*/



